<div class="relative">
  <div
    (click)="closeDialog()"
    class="absolute -right-8 -top-10 rounded-3xl bg-base-gray border-black border-3 p-1 cursor-pointer"
  >
    <img
      ngSrc="../../../../../assets/icons/cross.svg"
      alt="cross"
      width="25"
      height="25"
    />
  </div>

  <div class="flex flex-col gap-4 items-center">

    <div class="font-extrabold text-center text-xl xs:text-2xl">
      {{ 'help_support.help_title' | translate }}
    </div>
    <div class="text-gray-text text-sm">{{ 'help_support.help_description' | translate }}</div>
    <form class="w-11/12" #helpSupportForm="ngForm" (ngSubmit)="onSubmitForm(helpSupportForm)">
      <div class="flex flex-col gap-5 ">
        <div class="flex flex-col gap-2">
          <label class="font-bold text-lg">{{ 'help_support.email' | translate }} *</label>
          <input
            class="bg-main-sub shadow-inner shadow-gray-500/80 h-12 rounded-xl p-2"
            type="email"
            name="email"
            [placeholder]= "'help_support.email_placeholder' | translate"
            #emailField="ngModel"
            [(ngModel)]="email"
            [ngModelOptions]="{updateOn: 'blur'}"
            required
            email
          >
          @if (emailField.invalid && (emailField.dirty || helpSupportForm.submitted)) {
            <div class="text-light-red"> {{ 'help_support.email_error' | translate }} </div>
          }
        </div>
        <div class="flex flex-col gap-2">
          <label class="font-bold text-lg">{{ 'help_support.problem' | translate }} *</label>
          <textarea
            class="bg-main-sub shadow-inner shadow-gray-500/80 h-32 rounded-xl p-2"
            type="text"
            name="message"
            [placeholder]= "'help_support.problem_placeholder' | translate"
            #messageField="ngModel"
            [(ngModel)]="message"
            [ngModelOptions]="{updateOn: 'blur'}"
            required
          ></textarea>
          @if (messageField.invalid && (messageField.dirty || helpSupportForm.submitted)) {
            <div class="text-light-red"> {{ 'help_support.problem_error' | translate }} </div>
          }
        </div>
        <app-button-primary
          class="flex flex-col items-center"
          buttonType="submit"
          [text]=" 'help_support.submit' | translate"
          [type]="'normal'"
          size="md"
        ></app-button-primary>
      </div>
    </form>
  </div>
</div>
