<div class="page">
  <app-settings-nav-bar class="settings"></app-settings-nav-bar>
  <div class="image-container">
    <img src="assets/images/yahtzee-big-logo.svg" alt="" />
  </div>
  <div class="flex justify-center items-center space-x-4 mt-8 w-full h-5">
    <!-- step 1 -->
    @if (step==1) {@defer {
    <app-button-primary
      [text]="'home.startPlaying' | translate"
      [showRightIcon]="true"
      class="content"
      size="lg"
      (click)="nextStep(); playSound()"
    >
      <img right src="assets/icons/play-now.svg" alt="play now" />
    </app-button-primary>
    } @loading (minimum 5s){
    <app-large-loader></app-large-loader>
    } }

    <!-- step2 -->
    @if (step==2) {
    <app-choose-game-mode
      [options]="options"
      (playLocllyEvent)="playLocally()"
      (playOnlineEvent)="playOnline($event)"
    ></app-choose-game-mode>

    }

    <!-- step 3 locally -->
    @if(step==3 && gameMode == 'local') {
    <app-input-player-name
      [message]="'home.typeFirstPlayerName' | translate"
      [playerName]="playerName"
      (submitEvent)="saveName($event, 1)"
      (previousEvent)="previousStep()"
    ></app-input-player-name>
    }

    <!-- step4 locally -->
    @if(step==4 && gameMode == 'local') {
    <app-input-player-name
      [message]="'home.typeSecondPlayerName' | translate"
      [playerName]="playerTwoName"
      (submitEvent)="saveName($event, 2)"
      (previousEvent)="previousStep()"
    ></app-input-player-name>
    }

    <!-- step3 online -->
    @if(step==3 && gameMode == 'online') {
    <app-input-player-name
      [message]="'home.typeYourName' | translate"
      (submitEvent)="saveName($event, 1)"
      (previousEvent)="previousStep()"
      [playerName]="playerName"
    ></app-input-player-name>
    }

    <!-- step4 online -->
    @if(step==4 && gameMode == 'online') {

    <!-- step 4 online create -->
    @if (onlineOption =='create') {
    <app-online-create
      [playerName]="playerName"
      [roomCode]="roomCode"
    ></app-online-create>
    }

    <!-- step4 online join -->
    @if(onlineOption == 'join') {
    <app-online-join
      [roomCode]="roomCode"
      (joinRoom)="joinRoom($event)"
      [roomMessage]="roomMessage"
    ></app-online-join>
    }}
  </div>
</div>
