<div class="flex gap-1">
  <button
    class="button-primary settings-button"
    (click)="redirectToHome()"
    [ngClass]="[size]"
  >
    <img src="assets/icons/home.svg" alt="Home Icon" class="settings-icon" />
  </button>
  <button
    class="button-primary settings-button"
    (click)="openHelpSupport()"
    [ngClass]="[size]"
  >
    <img
      src="assets/icons/help.svg"
      alt="Help Icon"
      class="settings-icon"
    />
  </button>
  <button
    class="button-primary settings-button"
    [ngClass]="[size]"
    (click)="openSettings()"
    [disabled]="disabled"
  >
    <img
      src="assets/icons/settings.svg"
      alt="Settings Icon"
      class="settings-icon"
    />
  </button>
</div>
