@import '../../../../../global.variables';

.button-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 33px;
  line-height: $line-height;
  background: $base-gray;
  color: $base-black;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 1),
              inset 0 1px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  &:hover, &:active {
    background: $background-secondary;
  }
}

.button-secondary.disabled {
  background: $base-gray;
  color: $gray-text-light;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}

@mixin button-size($font-size, $padding) {
  font-size: $font-size;
  padding: $padding;
}


.lg {
  @include button-size(32px, 14px 24px)
}
.md {
  @include button-size(24px,  12px 20px)
}
.sm {
  @include button-size(16px, 10px 18px)
}
