@import "../../../../global.variables.scss";

.scorecard-container {
    gap: 2px;
    background: $background-main-base;
    border: 1px solid $base-black;
    border-radius: 33px;
    padding: 22px 22px 10px;
    box-shadow: 2px 1.5px 0 rgba(0, 0, 0, 0.65);
    position: relative;
    width: 20vw;
    max-width: 350px;
    min-width: 250px;
    margin-top: 20px;

  .player-title {
    position: absolute;
    top: -20px;
    left: 15%;
    width: 45%;
    background: $base-white;
    border-radius: 33px;
    padding: 4px 12px;
    border: 2px solid $base-black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
  .section {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 4px 0px;
    .row {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
      .label {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 8px;
        .icon {
          height: 21px;
          width: 20px;
        }
      }
    }
  }
  .section-divider {
    border: 0;
    height: 1.5px;
    background: #333;
  }
  .bonus, .total {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 35px;
    gap: 25px;
  }
}

.bonus-title {
  font-weight: 600;
}
.total-title {
  padding-top: 5px;
  font-weight: 900;
  font-size: large;
}

.disabled-input {
  width: 45px;
  height: 30px;
  border-radius: 35px;
  padding: 7px;
  padding-top: 5px;
  text-align: center;
  outline: none;
  font-size: small;
  background: #ececec;
  color: $gray-text-light;
  cursor: default;
}

.score-box {
  background: $base-white;
  color: $base-black;
  cursor: pointer;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.65);
  border: 1px solid $gray-text-light;
  &:hover {
    background: $background-main-sub;
  }
  &:active {
    border: 2px solid $gray-text-light;
  }
}


.total-box {
  width: 50px;
  height: 30px;
  text-align: center;
  outline: none;
  font-size: small;
  background: none;

  &.larger {
    font-size: large;
  }
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.active-player {
  background: $background-main;
  box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.65);
  .active-player-title {
    background: $light-blue;
  }
}

.indexPlayer {
  left: 40% !important;
}
