@import '../../../../../global.variables.scss';

.button-roll {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13.2px;
  line-height: $line-height;
  background: $light-blue;
  color: $base-black;
  border: 3px solid $light-black;
  font-weight: bold;
  &:hover, &:active {
    background: #d4e2f6;
  }
}

.button-roll.disabled {
  background: $lighter-blue;
  color: $gray-text-light;
  border: 3px solid $border-disabled;
  cursor: not-allowed;
}

@mixin button-size($font-size, $padding) {
  font-size: $font-size;
  padding: $padding;
}


.lg {
  @include button-size(20px, 12px 24px)
}
.md {
  @include button-size(18px, 10px 20px)
}
.sm {
  @include button-size(14px, 8px 18px)
}

