<div class="dropdown-container" [class.disabled]="disabled" [ngClass]="[size]">
  <div class="dropdown-header" (click)="toggleDropdown()">
    @if (leftIcon) {
    <div class="icon flex justify-center items-center">
      <ng-content select="[left]"></ng-content>
    </div>
    }
    <span>{{ selectedOption?.label || placeholder }}</span>
    @if (rightIcon) {
    <div class="icon flex justify-center items-center">
      <ng-content select="[left]"></ng-content>
    </div>
    }
  </div>

  <ul class="dropdown-options" *ngIf="isOpen">
    <li
      *ngFor="let option of options"
      (click)="selectOption(option)"
      [class.selected]="option === selectedOption"
    >
      {{ option.label }}
    </li>
  </ul>
</div>
