<div class="main-navbar">
  @if (!isGameRulesPage()) {
    <app-button-secondary
      [ngStyle]="{ visibility: gameMode === CONSTANTS.GAME_MODE.ONLINE ? 'hidden' : 'visible' }"
      (click)="resetGame()"
      [size]="'md'"
      text="New Game">
    </app-button-secondary>
  }
  @if (isGameRulesPage()) {
    <app-button-secondary
      (click)="goBack()"
      [size]="'md'"
      text="Return">
    </app-button-secondary>
  }
  <div class="yahtzee-logo-navbar">
    <img src="assets/images/yahtzee-logo-navbar.svg" alt=""/>
  </div>
  <app-small-navbar [size]="'md'"></app-small-navbar>
</div>
