.main-navbar {
  width: 100%;
  display: flex;
  gap : 5px;
  align-items: center;
  justify-content: space-around;
  //padding: 0 20px;
}

.yahtzee-logo-navbar {
  //min-width: 400px;
  max-width: 500px;
}

.menu-button {
  min-width: 162px;
}

.new-game {
  min-width: 150px;
}
