<div class="content">
  <h2 class="title">{{ "home.typeRoomCode" | translate }}</h2>
  <div class="flex flex-col items-center space-y-4 mt-8 w-full">
    <app-input
      [placeholder]="'home.roomCode' | translate"
      [size]="'md'"
      [(text)]="roomCode"
    ></app-input>
    @if (roomMessage) {
      <div class="title color">{{ roomMessage }}</div>
    }
    <div class="flex justify-center items-center mt-8 space-x-10 w-full">
      <app-button-primary
        [text]="'home.join' | translate"
        size="sm"
        (click)="join()"
        [type]="roomCode.length > 4 ? 'normal' : 'disabled'"
      ></app-button-primary>
    </div>
  </div>
</div>
