@import "../../../global.variables.scss";

.game-board {
  display: flex;
  justify-content: space-between;
  margin: 25px 30px;
  background-color: $base-white;
  gap: 40px;
  height: 80vh;

  .rolling-board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;

    .turn-text {
      font-family: "Caveat Brush", serif;
      font-size: xx-large;
    }

    .actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      width: 100%;

      .keep-dice {
        background-color: $base-white;
        border-radius: 25px;
        border: 1px solid rgba(0, 0, 0, 0.16);
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.25),
          inset -2px 1px 2px rgba(0, 0, 0, 0.25);
        width: 450px;
        height: 85px;
      }
    }
  }
}

.scorecard-container {
  position: relative;
}

.timer {
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 1px 10px;
  border-radius: 10px;
  color: $background-main;
  font-size: x-large;
  font-family: "Caveat Brush", serif;
  position: absolute;
  top: -20px;
  right: -10px;

  .alarm {
    // background: $base-white;
    height: 25px;
    animation: rotateAlarm 0.4s infinite alternate;
  }
}

.right {
  right: 70% !important;
}

@keyframes rotateAlarm {
  0% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(20deg);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 150px;
  gap: 10px;
  z-index: 1000;
}

.roll-to-start-message {
  font-size: xx-large;
  font-family: "Caveat Brush", serif;
  text-align: center;
}

#second-time {
  font-size: 2rem;
  font-family: "Caveat Brush", serif;
  color: $base-white;
}
