<div class="content">
  <h2 class="title">Choose how you want to play!</h2>
  <div class="flex justify-center items-center space-x-4 mt-8 w-full">
    <app-button-primary
      [text]="'Play Locally'"
      [showLeftIcon]="true"
      size="md"
      (click)="playLocally()"
    >
      <img left src="assets/icons/desktop.svg" alt="locally" />
    </app-button-primary>
    <app-dropdown
      [options]="options"
      [placeholder]="'Play Online'"
      [leftIcon]="true"
      [changeSelected]="false"
      (selectionChange)="playOnline($event)"
      size="md"
    >
      <img left src="assets/icons/globe.svg" alt="" />
    </app-dropdown>
  </div>
</div>
