$base-black: #000000 ;
$light-black: #241e1e;
$base-white: #FFFFFF;
$gray-text: #313131;
$gray-text-light: #9D9B9B;
$background-secondary: #FDFCFC;
$border-disabled: #D7D7D7;
$base-gray: #F5F4F4;
$background-home: #6050B7;
$background-main: #AE9AFF;
$background-main-base: #D4C9FF;
$background-main-sub: #E2DCFD;
$light-blue: #A4D3FF;
$darker-blue: #74b7f5;
$lighter-blue: #D2E2F1;
$border-color: #c3c3c3;
$overlay-background: #272263;
$success-green: #0FA958;
$base-font-size: 16px;
$line-height: 1.5;

//border radius
$dialog-border-radius: 28px;
