$base-black: #000000 ;
$base-white: #FFFFFF;
$gray-text: #313131;
$gray-text-light: #a3a3a3;
$background-secondary: #FDFCFC;  //for the rule dv background
$base-gray: #F5F4F4;
$background-main: #AE9AFF;
$background-main-base: #D4C9FF;
$background-main-sub: #E2DCFD;
$light-blue: #A4D3FF;
$overlay-background: #272263;
$base-font-size: 16px;
$line-height: 1.5;

//border radius
$dialog-border-radius: 25px;
